section.block--template {
	padding-left: $padding-general;
	padding-right: $padding-general;
}

section.unit_footnote {
 	margin-top: $margin-small;
 	padding: $padding-small;
	border-top: 2px dashed $color-primary;
}